[project]
	description = Samples for Udacity 60fps course
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Telman Agababov (telmanagababov)
[access "refs/for/refs/*"]
	read = group user/Telman Agababov (telmanagababov)
	push = group user/Telman Agababov (telmanagababov)
	label-Code-Review = -2..+2 group user/Telman Agababov (telmanagababov)
	label-Verified = -1..+1 group user/Telman Agababov (telmanagababov)
	rebase = group user/Telman Agababov (telmanagababov)
	removeReviewer = group user/Telman Agababov (telmanagababov)
	submit = group user/Telman Agababov (telmanagababov)
[access "refs/heads/*"]
	read = group user/Telman Agababov (telmanagababov)
	create = group user/Telman Agababov (telmanagababov)
	push = +force group user/Telman Agababov (telmanagababov)
	pushMerge = group user/Telman Agababov (telmanagababov)
[access "refs/tags/*"]
	push = +force group user/Telman Agababov (telmanagababov)
	pushTag = group user/Telman Agababov (telmanagababov)
	pushSignedTag = group user/Telman Agababov (telmanagababov)
